*.jardesc
*~
*.fas*
bin/
doc/*
*.txt
*.matrix
*.bp
/README
/someyeah
/TestRNAData.dat.res
/TestRNAData.dat.res.mpd
/TestRNAData.dat.res.weighted
/TestRNAData.folds
/VARNA.class
/VARNA.java
/VARNA.js
/VARNALinks.csv
/examples
