body {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}

div.allContent {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    border: groove;
    border-color: brown;
    border-width: 5px;
}

div.container {
    text-align: justify;
	font-size: 18px
}

table.menu {
    text-align:center;
    float:left;
    padding-right: 55px;
}

td.subtitle {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    font-family:"Ariel", Verdana, sans-serif;
    font-style:italic;
	font-size:14px;
}

image.logo {
    float:left;
}
